node_modules/
vendor/
.env
.env.*
!.env.example
.DS_Store
.idea/
.vscode/
.phpunit.result.cache
coverage/
dist/
.nuxt/
.output/

*no*commit*
*No*Commit*
*NO*COMMIT*
*.bak
*.bkp.*
*.bkp
*.log
*.swp
*.out
*.zip
*.del
_ide_helper*

*no*commit*
*No*Commit*
*NO*COMMIT*
*.bak
*.bkp.*
*.bkp
*.log
*.swp
*.out
*.zip
*.del
*.del.*
_ide_helper*
*.localonly.*

**/.ignored/*
*.ignored
*.ignored.*
ignored.*
