VITE_APP_ENV=development
# VITE_APP_ENV=local

VITE_SHOW_DEV_HELPERS=0
VITE_API_DOMAIN='http://local-8000.com'
VITE_API_URL='http://local-8000.com/api'
VITE_SITE_URL='http://local-frontend.com'

VITE_ENABLED_SPEED_INSIGHTS=false

# OPEN_IN_EDITOR_URL='http://localhost:3001'
# OPEN_IN_EDITOR_URL='http://host.docker.internal:3001'
