
VITE_APP_NAME="Hours Ledger Drive"
# VITE_APP_ENV=local
VITE_APP_ENV=development
VITE_SHOW_DEV_HELPERS=0

VITE_SAAS_DOMAIN='local.hlcore.com' ## Landing page of Saas
VITE_CUSTOMER_APP_DOMAIN='app.local.hlcore.com' ## Saas customer management painel
VITE_BACKOFFICE_DOMAIN='admin.local.hlcore.com' ## Saas adminstrators management painel (Backoffice)
VITE_API_DOMAIN='api.local.hlcore.com' ## API of Saas
VITE_CENTRAL_DOMAIN=local.hlcore.com

VITE_API_DOMAIN='api.local.hlcore.com'
VITE_API_URL='https://api.local.hlcore.com/api'
VITE_SITE_URL='https://local.hlcore.com'
VITE_ENABLED_SPEED_INSIGHTS=false

# OPEN_IN_EDITOR_URL='http://localhost:3333'
# OPEN_IN_EDITOR_URL='http://host.docker.internal:3333'
