# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

dist/
dist_tmp_build/
.vite/

# Editor directories and files
#.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/prompt*.md
/*prompt.md

/prompt-task*.md
/*prompt-task.md

/notas.md

*.env*
.env
.env.backup
.env.production
!.env.example
!.env*.example

*.code-workspace
*no*commit*
*No*Commit*
*NO*COMMIT*
*.bkp.*
*.localonly.*
*.bkp
*.log
*.swp
*.out
*.zip
_ide_helper*
.local-aliases.sh
.claude-session-id

/*session-id*
/*session_id*
.vercel
