# WWWGROUP=1000
# WWWUSER=1000

HOST_MACHINE_ADDRESS=172.17.0.1

SAAS_DOMAIN='local.tiagoapps.com.br' ## Landing page of Saas
CUSTOMER_APP_DOMAIN='app.local.tiagoapps.com.br' ## Saas customer management painel
BACKOFFICE_DOMAIN='admin.local.tiagoapps.com.br' ## Saas adminstrators management painel (Backoffice)
API_DOMAIN='api.local.tiagoapps.com.br' ## API of Saas
CENTRAL_DOMAIN=api.local.tiagoapps.com.br
APP_MAIN_DOMAIN="${CENTRAL_DOMAIN}"

FRONTEND_MAIN_DOMAIN=local.tiagoapps.com.br
APP_URL="http://${APP_MAIN_DOMAIN}"
CENTRAL_DOMAINS="${CENTRAL_DOMAIN},${SAAS_DOMAIN}"
FRONTEND_URL="http://local.tiagoapps.com.br"

SAAS_URL="http://${SAAS_DOMAIN}"
CUSTOMER_APP_URL="http://${CUSTOMER_APP_DOMAIN}"
BACKOFFICE_URL="http://${BACKOFFICE_DOMAIN}"
API_URL="http://${API_DOMAIN}"

APP_NAME='Hours Ledger'
APP_ENV=local
APP_KEY=
APP_DEBUG=true

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=postgres
DB_PASSWORD=postgres
# DB_URL="postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}"

TEST_DB_HOST=127.0.0.1
TEST_DB_PORT=5432
TEST_DB_DATABASE=laravel
TEST_DB_USERNAME=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_URL="postgres://${TEST_DB_USERNAME}:${TEST_DB_PASSWORD}@${TEST_DB_HOST}:${TEST_DB_PORT}/${TEST_DB_DATABASE}"

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
